/* Add this to your Tailwind CSS or a separate stylesheet */
.logo {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}
body {
    font-family: Space Mono, Roboto Mono, monospace;
    background-color: #fafafa;
}
#about:hover {
    color: #4295ce; /* Darker blue on hover */
}
li{
    font-size: 2.5rem;
font-weight: 700;
letter-spacing: .2em;
line-height: 50px;
text-align: center;
}
a svg{

    margin-left:20px;
  
}

footerimg{
    box-shadow: 4px 4px 2px #4295ce;
}
.text{
     padding-bottom: 0px;
    padding-top: .15em;
    color: #000;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    transition: background-color 0.2s ease-in-out;
        background: linear-gradient(180deg, black 0, black);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: .12em .12em;
        padding-bottom: .15em;
        padding-top: .15em;
        margin-top: 0.5%;
        
}
.text:hover{
   background-color: #4295ce;
   color: white; 
}
.styled-content {
    font-size: 1.5rem;
    line-height: 2em;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 2em;
  }
  .styled-heading{
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;

  }